<div class='container vertical_flex '>
<p style="color: green"><%= notice %></p>

<h1>Public Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>

<% if user_signed_in? %>
<%= link_to "New Recipe", new_recipe_path %>
<%else%>
<%= link_to "New Recipe", new_user_session_path %>
<%end%>
</div>