<div class="gen-form-container cont">
  <h1 class="mg-b"><%= @recipe.name %></h1>
  <div class="show-recipe mg-b">
    <div class="details-food">
      <p class="details-p">
        <strong>Preparation time:</strong>
        <span><%= @recipe.preparation_time %> <% if @recipe.preparation_time > 1 %>
          hours
          <% else %>
          hour
          <% end %></span>
      </p>
      <p class="details-p">
        <strong>Cooking time:</strong>
        <span><%= @recipe.cooking_time %> <% if @recipe.cooking_time > 1 %>
          hours
          <% else %>
          hour
          <% end %></span>
      </p>
      <p class="details-p">
        <strong>Description:</strong>
        <span><%= @recipe.description %></span>
      </p>
    </div>
    <div class="toggle-btn">
      <label for="publicToggle">Public</label>
      <label class="switch">
        <input type="checkbox" id="publicToggle" name="publicToggle" <% if @recipe.public == true %> checked <% end %>>
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="action-btns">
    <%= button_to 'Generate shopping list', {} ,class: 'view-btn' %>
<%= link_to 'Add Ingredients', new_recipe_food_recipe_path(recipe_id: @recipe.id), class: 'view-btn' %>

  </div>
  <table class="food-table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
       <tbody>
    </tbody>
    </tbody>
  </table>
</div>