<tr>

  <td>
  <%= link_to food_path(food), class: 'link' do %>
    <%= food.name %>
    <%end%>
  </td>

  <td>
    
    <%= food.measurement_unit %>
  </td>

  <td>
   
    <%= food.price %>
  </td>

  <td>
  <% if can? :destroy, food %>
  <%= button_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure you want to delete this food?' }, class: 'danger-btn' %>
<% end %>

  </td>

</tr>
